@import "variable.styl"

body, html
  line-height: 1
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  user-select: none
  -webkit-tap-highlight-color:  transparent
  background: $color-background
  color: $color-text
